<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="magefan_arp_rule_save_before">
        <observer name="magefan_autorelatedproduct_observer_magefan_arprulesaveafter_magefan_arp_rule_save_before" instance="Magefan\AutoRelatedProduct\Observer\Backend\Magefan\ArpRuleSaveBefore"/>
    </event>
</config>
